<!doctype html>
<html lang="ru">
    <% include head %>

    <body>
        <% include header %>
        <% if (isNotFound) { %>
        <p style="margin: 0; margin-top: 70px; padding: 0; text-align: center;"><%= err_msg%></p>
        <% } %>
        <div id="main" <% if (isNotFound) {%> style="margin-top: 0"<% } %>>
            <div id="wrapper">
                <% for (let i = data.length - 1; i >= 0; i--) { %>
                <div class="meme_div">
                    <div class="meme" id="meme<%=data[i].id %>">
                        <a href="/post/<%=data[i].id%>" title="<%=data[i].id %> пост" class="meme_a">
                            <img src="/memes/<%=data[i].name%>" alt="<%data[i].id%> пост" class="meme_img">
                        </a>
                    </div>
                    <div class="panel_tags" id="panel_tags<%=i%>">
                        <% for (let j = 0; j < 1; j++) { %>
                            <span><%= '#' + data[i].tags.split(',')[j].toString() %></span>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <% include footer %>
    </body>
</html>